<mat-toolbar color="primary">

  <span class="title">
    TaskBoard
  </span>

  <span class="spacer"></span>

  <button mat-raised-button color="primary" (click)="openAddDialog()">
    + Add Ticket
  </button>

  &nbsp;

  <button mat-raised-button (click)="logout()">
    Logout
  </button>



</mat-toolbar>

<div class="loading-container" *ngIf="loading">

  <mat-spinner diameter="50"></mat-spinner>

  <p>Loading tickets...</p>

</div>

<div class="board" *ngIf="!loading">

  <!-- TODO -->

  <div class="column" cdkDropList id="todo" [cdkDropListData]="todoTickets"
    [cdkDropListConnectedTo]="['in-progress','done']" (cdkDropListDropped)="drop($event)">

    <h2>
      To Do ({{todoTickets.length}})
    </h2>


    <mat-card class="ticket" cdkDrag (click)="openEditDialog(ticket)" *ngFor="let ticket of todoTickets">

      <div class="ticket-header">

        <h3>{{ticket.title}}</h3>

        <span class="priority" [ngClass]="ticket.priority.toLowerCase()">

          {{ticket.priority}}

        </span>

      </div>

      <div class="ticket-actions">

        <button mat-icon-button color="primary" (click)="openEditDialog(ticket); $event.stopPropagation()">

          <mat-icon>edit</mat-icon>

        </button>

        <button mat-icon-button color="warn" (click)="deleteTicket(ticket); $event.stopPropagation()">

          <mat-icon>delete</mat-icon>

        </button>

      </div>

      <p>{{ticket.description}}</p>

    </mat-card>
  </div>

  <!-- IN PROGRESS -->

  <div class="column" cdkDropList id="in-progress" [cdkDropListData]="progressTickets"
    [cdkDropListConnectedTo]="['todo','done']" (cdkDropListDropped)="drop($event)">

    <h2>
      In Progress ({{progressTickets.length}})
    </h2>

    <mat-card class="ticket" cdkDrag (click)="openEditDialog(ticket)" *ngFor="let ticket of progressTickets">

      <div class="ticket-header">

        <h3>{{ticket.title}}</h3>

        <span class="priority" [ngClass]="ticket.priority.toLowerCase()">

          {{ticket.priority}}

        </span>

      </div>

      <div class="ticket-actions">

        <button mat-icon-button color="primary" (click)="openEditDialog(ticket); $event.stopPropagation()">

          <mat-icon>edit</mat-icon>

        </button>

        <button mat-icon-button color="warn" (click)="deleteTicket(ticket); $event.stopPropagation()">

          <mat-icon>delete</mat-icon>

        </button>

      </div>

      <p>{{ticket.description}}</p>

    </mat-card>

  </div>

  <!-- DONE -->

  <div class="column" cdkDropList id="done" [cdkDropListData]="doneTickets"
    [cdkDropListConnectedTo]="['todo','in-progress']" (cdkDropListDropped)="drop($event)">

    <h2>
      Done ({{doneTickets.length}})
    </h2>

    <mat-card class="ticket" cdkDrag (click)="openEditDialog(ticket)" *ngFor="let ticket of doneTickets">
      <div class="ticket-header">

        <h3>{{ticket.title}}</h3>

        <span class="priority" [ngClass]="ticket.priority.toLowerCase()">

          {{ticket.priority}}

        </span>

      </div>

      <div class="ticket-actions">

        <button mat-icon-button color="primary" (click)="openEditDialog(ticket); $event.stopPropagation()">

          <mat-icon>edit</mat-icon>

        </button>

        <button mat-icon-button color="warn" (click)="deleteTicket(ticket); $event.stopPropagation()">

          <mat-icon>delete</mat-icon>

        </button>

      </div>

      <p>{{ticket.description}}</p>

    </mat-card>

  </div>

</div>